* {
    /* background: black; color: lightgreen; */
    /* font-family: monospace; font-size: 3.5mm; */
}

#localtime { position: absolute; right: 0; top: 0; }
#cli       { width: 100%; border: 1pt solid darkcyan; color: lightcyan; }
